<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
</head>
<body>
    <div id="new-article-container">
        <input type="hidden" id="new-article-id" th:value="${newArticle.id}">
        <div class="new-article-title-container">
            <label for="new-article-title">title: </label>
            <input type="text" id="new-article-title" placeholder="title" th:value="${newArticle.title}" autofocus>
        </div>
        <div class="new-article-category-container">
            <label for="new-article-category">category: </label>
            <select name="category" id="new-article-category">
                <option class="new-article-categories"
                        th:if="${categories} != null" th:each="category : ${categories}"
                        th:value="${category.path}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="new-article-text-container">
            <label for="new-article-content"> content: </label>
            <textarea name="content" id="new-article-content" cols="30" rows="10" placeholder="content"
                      th:text="${newArticle.content}"></textarea>
        </div>
    </div>

    <div id="new-article-button-container">
        <button th:if="${newArticle.id} == null" id="new-article-create-btn">create</button>
        <button th:if="${newArticle.id} != null" id="new-article-modify-btn">modify</button>
    </div>
</body>
</html>