<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" th:href="@{/css/login.css}"> -->
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<div class="main-page-container">
    <div class="top-header-container">
        <div class="top-header-wrap">
            <div class="home-page-button"><a th:href="@{/home}">blog</a></div>
            <div class="btn-container">
                <div class="login-btn"><a th:href="@{/login}">login</a></div>
                <div class="sign-up-btn"><a th:href="@{/signup}">sign up</a></div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="sign-up-container">
            <form action="/user" method="post" id="sign-up-form" onsubmit="return checkSignUpCondition()">
                <h4>sign up</h4>
                <div class="sign-up-email-input-container">
                    <label for="sign-up-email">email:</label>
                    <input type="email" id="sign-up-email" name="email" required autofocus placeholder="Email">
                    <span id="sign-up-valid-img" class="material-symbols-outlined">check_circle</span>
                    <span id="sign-up-invalid-img" class="material-symbols-outlined">error_outline</span>
                    <button type="button" id="duplicate-check-btn">duplicate check</button>
                    <input type="hidden" id="sign-up-email-valid-value" value="none">
                </div>
                <div id="sign-up-email-error-msg"></div>

                <div class="sign-up-nickname-input-container">
                    <label for="sign-up-nickname">nickname:</label>
                    <input type="text" id="sign-up-nickname" name="nickname" required placeholder="Nickname"
                           minlength="3" maxlength="20">
                </div>

                <div class="sign-up-password-input-container">
                    <label for="sign-up-password">pw:</label>
                    <input type="password" id="sign-up-password" name="password" required placeholder="Password">
                </div>
                <div id="sign-up-password-error-msg"></div>

                <div class="sign-up-password-check-input-container">
                    <label for="sign-up-password-check">pw check:</label>
                    <input type="password" id="sign-up-password-check" required placeholder="Password Check">
                </div>
                <div id="sign-up-password-check-error-msg"></div>

                <button type="submit" id="sign-up-submit-btn">sign up</button>
            </form>
        </div>
    </div>

    <div class="foot-box">

    </div>
</div>

<script th:src="@{/js/signup.js}"></script>
</body>
</html>