[submodule "blog/Submodule-application"]
	path = blog/Submodule-application
	url = https://github.com/Properks/Submodule-application
[submodule "project/revise_blog/Submodule-application"]
	path = project/revise_blog/Submodule-application
	url = https://github.com/Properks/Submodule-application.git
	branch = revise_blog
[submodule "project/review_blog/Submodule-application"]
	path = project/review_blog/Submodule-application
	url = https://github.com/Properks/Submodule-application.git
	branch = revise_blog
