.article-list-body-wrap {text-transform: capitalize;}
.article-list-body-wrap, .articles-list-body {display: flex; justify-content: space-between;}
.article-list-body-wrap, .article-list-body-container {border: 1px black; border-style: solid none;}
.article-list-page-size-container {display: flex; justify-content: right;}
.article-list-id-wrap, .article-list-author-wrap, #article-list-id-thyme, #article-list-author {flex:7; max-width: 10%; text-align: center;}
.article--list-title-wrap, #article-list-title-thyme {flex:1; max-width:70%; text-align: center;}
.no-article {width: 100%; text-align: center;}
.article-list-author-hover {margin:0; display: none; position: absolute; width: 100px; text-align: center; left: 100%; top: 0; border-radius: 8px; background: #333; color: #fff; font-size: 12px;}
.article-list-create-button-container {display: flex; justify-content: right;}
.article-list-page-container {display: flex; justify-content: center; align-items: center;}
.article-list-page-container span:hover{cursor: pointer}
.page-decrease, .article-list-page-number, .page-increase {margin: 3px 10px;}
.article-list-search-article-body {width: fit-content; margin: 0 auto; display: flex;}

#article-list-searched-word-container, #show-selected-category {margin: 5px; width:90%;}
#article-list-title-thyme a {color:inherit; text-decoration: none;}
#article-list-author {position:relative; display: inline-block;}
#article-list-author-thyme:hover + .article-list-author-hover {display: block;}
#article-list-create-article-btn {text-transform: capitalize}

#article-list-search-parameter {width: 200px; margin: 3px;}
#article-list-search-category {width:70px; margin: 3px; text-transform: capitalize}
#article-list-search-btn {width:70px; margin: 3px; text-transform: capitalize}
