* {padding: 0;}
body {width:100%; margin: 0; padding: 0;}

.top-header-container {padding:5px; width:100%; height:40px; position: fixed; left: 0; top:0; background-color: lightblue; z-index: 1;}
.top-header-wrap {padding: 5px; position:relative; display:flex;}

.home-page-button {padding:5px; height:100%; display:flex; align-items: center; box-sizing: border-box; text-transform: capitalize;}
.home-page-button a {color: inherit; text-decoration: none;}

.btn-container {padding:5px; position:absolute; right:0; top: 0;}
.btn-container [class $= btn]{margin-right:5px; padding:5px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; border:1px solid black;}
.btn-container a {color: inherit; text-decoration: none;}

.login-btn {float:left; text-transform: capitalize;}
.logout-btn, .sign-up-btn {text-transform: capitalize;}

.user-info-container {float: left; border:none; position: relative; display: inline-block;}
#home-page-user-hover-menu {width: 100%; display: none; position: absolute; top: 100%; left: 0; z-index: 1;}
#home-page-user-hover-menu div {margin-right:5px; padding: 5px; text-transform: capitalize; text-align: center; border: 1px solid black; background-color: lightblue; border-top: none;}


.main-page-img {width:100%; height:200px;}
.main-page-img img {width: 100%; height: 100%;  object-fit: cover;}