* {padding: 0; text-transform: capitalize; }
body {width:100%; margin: 0px; padding: 0;}

.top-header-container {padding:5px; width:100%; height:40px; position: fixed; left: 0%; top:0%; background-color: lightblue;}
.top-header-wrap {padding: 5px; position:relative; display:flex;}
.home-page-button {padding:5px; height:100%; display:flex; align-items: center; box-sizing: border-box;}
.home-page-button a {color: inherit; text-decoration: none;}
.btn-container {padding:5px; position:absolute; right:0; top: 0px;}
.btn-container [class $= btn]{margin-right:5px; padding:5px; display: flex; align-items: center; justify-content: center; box-sizing: border-box; border:1px solid black;}
.btn-container a {color: inherit; text-decoration: none;}
.login-btn {float:left;}
.user-info-btn {float: left; border:none;}

.main-page-img {width:100%; height:200px;}
.main-page-img img {width: 100%; height: 100%;  object-fit: cover;}