@import url("articleList.css");
@import url("articleView.css");
@import url("newArticle.css");
@import url("background.css");

.contents-container {margin:5px; padding:5px; border: 1px double black; display: flex;}
.sidebar-container {padding:5px; width: 20%; border: 1px solid black; background: beige; align-items: start;}
.sidebar-content, #sidebar-all-category {width:90%; margin-left: 5%; margin-right: 5%;}
.sidebar-title h3, .article-title h3 {margin:0; text-align: center; text-transform: capitalize;}

.sidebar-title {margin: 5px; border-bottom:1px solid black;}
.article-container {padding:15px; width:80%; border: 1px solid black; background: linear-gradient(to right bottom, white, rgb(190, 190, 190));}

.sidebar-container, .article-container {position:relative;}
.article-title, .article-body {margin: 0 auto;}
#create-sidebar-btn {margin:5px; position:absolute; bottom:0; right:0; text-transform: capitalize}