@import url("background.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,0,200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,0,200");

body {min-height: 100vh; background: linear-gradient(to right, #54BCF5, #1142D7); display: flex; justify-content: center; align-items: center;}

.main-page-container {padding:1rem; width:40%; height:100%;}
.body-container {padding:10px; border: 1px solid black;  border-radius: 1rem; background-color: white;}
.sign-up-email-input-container {display: flex;}

#sign-up-form h4 {width:100%; text-align: center; font-size:1em; text-transform: capitalize;}
#sign-up-form {position:relative;}
#sign-up-form label {width:100px; float:left; text-transform: uppercase;}
#sign-up-form input {margin:3px;}
#sign-up-form button {width:100px;}
#sign-up-form [id $= error-msg] {margin-left: 110px; display: none; font-size:12px;}

#sign-up-invalid-img, #sign-up-valid-img {display:none;}