input {text-transform: initial;}

#sign-up-form {position:relative;}
#sign-up-form label {width:100px; float:left; text-transform: uppercase;}
#sign-up-form input {margin:3px;}
#sign-up-form button {width:100px;}