<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="article-view-container">
    <div class="article-view-title-container">

    </div>
    <div class="article-view-content-container">

    </div>
    <div class="article-view-button-container">
        <button type="button" id="article-view-delete-article-btn">delete</button>
        <button type="button" id="article-view-modify-article-btn">modify</button>
    </div>
</div>

</body>
</html>