<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</head>
<body>
    <div class="main-page-container">
        <div class="top-header-container">
            <div class="top-header-wrap">
                <div class="home-page-button"><a th:href="@{/home}">blog</a></div>
                <div class="btn-container">
                    <div class="login-btn">login</div>
                    <div class="sign-up-btn">sign up</div>
                </div>
            </div>
        </div>

        <div class="body-container">
            <div class="main-page-img">
                    <img th:src="@{/img/backgroud-img.jpg}" alt="background-image">
            </div>

            <div class="contents-container">
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        <h5>side bar</h5>
                    </div>
                    <div class="sidebar-content">

                    </div>
                </div>

                <div class="article-container">
                    <div class="article-title">
                        <h5>articles</h5>
                    </div>
                    <div class="article-body">
                        <div class="article-body-title">
                            <div class="article-id-wrap">No.</div>
                            <div class="article-title-wrap">title</div>
                            <div class="article-author-wrap">author</div>
                        </div>
                        <div class="article-body-wrap" th:each="article : ${articles}">
                            <div id="article-id" th:text="${article.id}"></div>
                            <div id="article-title" th:text="${article.title}"></div>
                            <div id="article-author"></div>
                        </div>
                    </div>
                    <button type="button" id="create-article-btn">new article</button>
                </div>

            </div>
        </div>

        <div class="foot-box">

        </div>
    </div>
</body>
</html>